/*Fonts//////////////////////////////////////////////////////*/

@import url(https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,800italic,800,700italic,700,400italic,300italic,300);
* {
    border-radius: 0px !important;
}

body {
    color: #666;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'open sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 2px 0px 5px 0px;
    padding: 2px 0px;
    color: #666;
}

h1,
h2 {
    font-weight: 300;
}

h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #666;
}

h2 {
    font-size: 40px;
    line-height: 45px;
}

h3 {
    font-size: 30px;
    line-height: 35px;
}

h4 {
    font-size: 25px;
    line-height: 30px;
}

h5 {
    font-size: 20px;
    line-height: 25px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

p {
    margin: 2px 0px;
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #808080;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

blockquote {
    color: #808080;
    font-style: italic;
}


/*Navbars////////////////////////////////////////////////////*/

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

#logo-img {
    background-color: #1ba1e2;
}

.banner {
    height: 100vh;
    transition: 'opacity 1 ease-in-out';
    background-image: url("/img/plasma_ray.png");
    background-size: cover;
}

.maker {
    cursor: pointer;
    height: 100vh;
    transition: 'opacity 1 ease-in-out';
    background-image: url("/img/maker_img.jpg");
    background-size: cover;
    /*animation: transition 1.5s;*/
}

.pro {
    cursor: pointer;
    height: 100vh;
    transition: 'opacity 1 ease-in-out';
    background-image: url("/img/plasma_sparks.png");
    background-size: cover;
    /*animation: transition 1.5s;*/
}


/*@keyframes transition {
    50% {
        opacity: 0;
    }
}*/

#navbar-primary.navbar-default {
    border: none;
}

#navbar-primary.navbar-default .navbar-nav {
    width: 100%;
    text-align: right;
}

#navbar-primary.navbar-default .navbar-nav > li {
    display: inline-block;
    float: none;
}

#navbar-primary.navbar-default .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
}


/*Header/////////////////////////////////////////////////////*/

.intro-header {
    background-color: #225088;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    height: 100vh;
    background-image: url(/img/plasma_sparks.png)
}

.site-heading {
    margin-top: 20vh;
}

.site-heading h1 {
    text-align: center;
    font-family: open-sans, "helvetica neue", helvetica, sans-serif;
    font-size: 10vh;
    font-weight: 800;
    text-transform: ;
    color: white;
    text-shadow: 1px 1px 5px #121212;
}

////////////////////////////////////////////////////////////////////////////////////////////

/*PopOver*/

{
    display: block;
}

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    background-color: #1ba1e2;
    border: 1px solid #1ba1e2;
    color: white;
}

.container-fluid {}

#adresse li {
    list-style: none;
}

#footer-contact img {
    max-height: 18vh;
}